# Tensorflow weights
*.npz

# Lectures pdfs
**/Lectures/

# Other
**/.ipynb_checkpoints/

# Capstone project data
/6 Data analysis project/1 Internet users pattern mining/capstone_user_identification/
/6 Data analysis project/1 Internet users pattern mining/cez13/