# Tensorflow weights
*.npz

# Lectures pdfs
#**/Lectures/

# Other
**/.ipynb_checkpoints/

# Capstone project datasets
/6 Data analysis project/1 Internet users pattern mining/Dataset/
/6 Data analysis project/1 Internet users pattern mining/Week 5 SGD and Kaggle/data/
